* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  
}

body{
  background-color: aliceblue;
}

.sidebar {
  height: 100vh;
  background: #06294d; /* fallback for old browsers */

}

.dashboard-wrapper {
  
  background-color: #06294d;
  border-left: 2px solid white;

}

ul {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  
}
ul li {
  text-decoration: none !important;
  color: white;
  font-size: 16px;
  list-style: none;
  padding-block: 10px;
  
  width: 100%;
  cursor: pointer;
  padding-left: 20px;
}

ul li:hover {
  background: #4ca1af;
  color: black;
}

a {
  color: white !important;
  list-style: none !important;
  padding-block: 10px;
  
  text-decoration: none !important;
}
a:hover {
  background: #4ca1af;
  color: black;
}

/* 

Front page */


.Front-cards-Background-card{
  background-color: transparent;
  border: white 2px solid;
  border-radius: 0.5rem;
  padding: 1rem ;
}


.card{
  cursor: pointer;
}

.btn{
  background-color: black !important;
  color: white !important;
  border: none !important;
}

.btn:hover{
  background-color: rgb(54, 51, 51) !important;
}

.modal-header .btn-close{

 
  padding: 20px !important;
  background-color: white !important;
  
}


.modal-content{
  background-color: black !important;
  color: white !important;
}