* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white !;
}

.sidebar {
  height: 100vh;
  background: #06294d; /* fallback for old browsers */

}

.dashboard-wrapper {
  height: 100vh;
  background: #0770e1 !important; /* fallback for old browsers */

}

ul {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  
}
ul li {
  text-decoration: none !important;
  color: white;
  font-size: 16px;
  list-style: none;
  padding-block: 10px;
  
  width: 100%;
  cursor: pointer;
  padding-left: 20px;
}

ul li:hover {
  background: #4ca1af;
  color: black;
}

a {
  color: white !important;
  list-style: none !important;
  padding-block: 10px;
  
  text-decoration: none !important;
}
a:hover {
  background: #4ca1af;
  color: black;
}

/* 

Front page */


.Front-cards-Background-card{
  background-color: black;
}